

.home-wrapper {
  position: relative;
  text-align: center;
  min-height: 90vh;
  margin-top: 113px;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-img {
  width: 100%;
  height: auto;
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  opacity:  0.95; 
}

.content {
  position: relative;
  z-index: 1;
  padding-top: 5rem;
  /* margin-top: -70vh; */
}

h1 {
  
  color:  var(--clr-light-blue-opacity); 
  font-size: 2.5rem; 
  transition: all 0.3s ease; 
  margin-bottom: 1rem;
  margin-top: 1.2rem;
}

h1:hover {
  color: var(--clr-medium-gray); 
  font-size: 2.3rem; 
}

p {
 
  color:  var(--clr-light-blue-opacity); 
  font-size: 1.2rem; 
  transition: all 0.3s ease;
}

p:hover {
  color: var(--clr-medium-gray); 
  font-size: 1.1rem; 
}





@media (max-width: 435px) {
  .home-wrapper {
    min-height: 300px;
    margin-top: 40vh;
    margin-bottom: 0;
    overflow: visible;
  }
  .content {
    position: absolute;
    bottom: 100%;
    padding: 0rem 2.25rem;
    margin-bottom: 3rem;
  }
  
  h1 {
    font-size: 1.2rem;
    color:var(--clr-gray-blue);
    padding-top: 1rem;
    transition: none;
    
  }
  
h1:hover { 
  font-size: 1.2rem; 
}

  
  .content p {
    margin: 1rem 0;
    font-size: 0.7rem;
    color:var(--clr-gray-blue);
  }

  .background-img {
    width: 100%;
    height: 250px;
  }
}
