.navContainer {
  width: 100%;
  background-color: var(--clr-dark-blue); 
  /* position: relative; */
  

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

/* NEW: Hide class */
.navContainer.hidden {
  transform: translateY(-100%);
}




.nav {
  
  margin: 0 auto;
  padding: 1.5rem 2rem 0 2rem;
  display: flex;
  position: sticky;
  gap: 7rem;
}

.navItem {
  color: var(--clr-light-blue-opacity);
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
  padding-bottom: -1px;
  margin-top: 1rem;
  
  
}

a {
  text-decoration: none;
}

.navItem:hover {
  color: var(--clr-light-gray);
}

.navItem::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--clr-white);
  transition: width 0.3s ease;
  margin-bottom: 40px;
}

.navItem:hover::after {
  width: 100%;
}

.nav-icon {
  height: 55px; 
  width: auto;
  margin-left: 1rem;
  margin-right: 5rem; /* spacing between icon and buttons */
  opacity: 0.7;
  transition: transform 0.3s ease;
  
}
.nav-icon:hover{
  transform: scale(1.25);
}


.cartWrapper {
  margin-left: auto; /* Pushes cart to the far right */
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cartIconContainer {
  position: relative;
  width: auto;
  height: 80px;
  margin-top: 0.5rem;
  margin-right: 3.5rem;
}

.cartIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;

  height: 40px; 
  width: auto;
  cursor: pointer;
  margin-right: 1rem;
  filter: invert(1) brightness(1.5);
  opacity: 0.7;
}

.cartIcon:hover {
  transform: scale(1.3);
}

.cartCount {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--clr-bright-red);
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: bold;
  font-family:var( --font-ubuntu) ;
  border: 1px solid var(--clr-very-dark-gray);
}




@media (max-width: 435px) {
  .nav {
    padding: 1rem 1rem 0;
    gap: 1rem;
    justify-content: center;
  }
  
  .navItem {
    padding: 0.3rem 0;
    margin-top: 0.9rem;
    color: var(--clr-gray-blue);
    font-size: 0.5rem;
    
  

  }
  
  .nav-icon {
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .nav-icon:hover{
    transform: scale(1);
  }

  .cartIconContainer {
    margin-right: 5px;
    margin-left: 3px;
    height: 60px;
    width: 64px
  }
  
  .cartIcon {
    height: 30px;
  }
}